body {
    background-color: #F5F5F5;
    padding: 20px;
}


img {
    width: 400px;
    height: 600px;
}

h4 {
    margin-top: 30px;
}

/*-------------------------- CLASSES & IDS --------------*/

div > p {
    margin: 20px;
    font-size: 18px;
}

.blue-line {
    border-top: 10px solid blue;
    width: 100px;
}

.flex-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}



.movies-div {
    margin: auto;
    width: 50%;

}

.rounded-corner {
    border-radius: 7%;
}

.add-margin {
    margin-bottom: 20px;
}

.margin-button {
    margin-top: 30px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}